.section-main {
  background:
    linear-gradient(0deg, rgba(1, 49, 43, 0.7), rgba(2, 49, 43, 0.7)),
    url(../../img/main-page/bg.png) no-repeat center / cover;
  min-height: 95vh;
  color: var(--color-white);
  padding-block: 9rem;
}
.main-content {
  max-width: 500px;
}
.main__title {
  font-family: "Comfortaa";
  margin-bottom: 1.5rem;
}
.main__text {
  font-size: 1.9rem;
  margin-bottom: 1rem;
}
.btn-main {
  margin-bottom: 1.5rem;
  text-align: center;
  display: block;
  text-decoration: none;
  background-color: var(--color-white);
}
.main-wrapper-left {
  display: none;
}

/* Рекомендации */
.recommendation {
  position: relative;
}
.btns {
  display: flex;
  gap: 0.5rem;
}
.card-flowers {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 8rem;
}
.card-img {
  width: 100%;
  max-height: 357px;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.card-title {
  font-size: 2rem;
  font-weight: 500;
}
.card-price {
  font-size: 1.8rem;
}
.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

/* Новые поступления */
.section-new-product {
  position: relative;
  background-color: var(--color-green-light);
}

/* Преимущества */
.advantage {
  background:
    linear-gradient(rgba(0, 79, 68, 0.5), rgba(0, 79, 68, 0.5)),
    url(../../img/main-page/bg-advan.png) no-repeat center / cover;
  color: var(--color-white);
  padding: 1.5rem;
  border-radius: 20px;
  margin-bottom: 3rem;
}
.advantage__title {
  font-size: 2rem;
  font-weight: 400;
}
.advantage__number {
  font-size: 2.7rem;
  font-weight: 800;
}
.link-more {
  border: none;
  background-color: inherit;
}

@media (min-width: 768px) {
  .main-content {
    max-width: none;
    display: flex;
    gap: 6rem;
  }
  .main-wrapper-right {
    max-width: 40%;
  }
  .main-wrapper-left {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 100px);
    gap: 1.7rem;
  }
  .main-item {
    padding: 1rem;
    transition: transform 0.3s ease;
  }
  .main-item-1 {
    grid-row: 1 / 4;
    background: url("../../img/main-page/img1.jpg") center / cover no-repeat;
    transform-origin: top left;
  }
  .main-item-1:hover {
    transform: scale(1.03);
    z-index: 10;
  }
  .main-item-2 {
    grid-row: 1 / -1;
    grid-column: 2;
    background:
      linear-gradient(
        to top,
        rgba(0, 0, 0, 0.65) 0%,
        rgba(0, 0, 0, 0.3) 30%,
        rgba(0, 0, 0, 0) 60%
      ),
      url("../../img/main-page/img2.jpg") center / cover no-repeat;
    transform-origin: left;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .main-item-2:hover {
    transform: scaleX(1.05);
    z-index: 10;
  }
  .main-item-3 {
    grid-row: 4 / -1;
    background: url("../../img/main-page/img3.jpg") center / cover no-repeat;
    display: flex;
    align-items: end;
    transform-origin: bottom left;
  }
  .main-item-3:hover {
    transform: scale(1.03);
    z-index: 10;
  }

  .inner-green {
    display: inline-block;
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 0.7rem 1.5rem;
  }

  .main-item-2__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
@media (min-width: 1028px) {
  .main-content {
    gap: 8rem;
  }
  .main__title {
    font-size: 4.5rem;
  }
  .btns-main {
    display: flex;
    gap: 1rem;
  }

  /* Рекомендуеоме */
  .cards-flowers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 4rem;
    column-gap: 6rem;
  }
  .card-flowers {
    max-width: none;
    margin: 0;
  }
  .card-img {
    max-height: 357px;
  }
  .card-title {
    font-size: 2rem;
    font-weight: 500;
  }
  .card-price {
    font-size: 1.8rem;
  }
  .card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  .link-more {
    position: absolute;
    top: 65px;
    right: 120px;
  }
  .link-more-2 {
    position: absolute;
    top: 5px;
    right: 120px;
  }

  /* преимущества */
  .advantages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    row-gap: 3rem;
    column-gap: 6rem;
  }
}
